* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    background-image:url(./media/pato_banner.jpg); background-repeat: no-repeat; background-size: 1000px;
}

header img {
    border-radius: 40%;
    object-position: top;

}

header h1 {
    font-size: 50px;
    background-color: yellow; border-radius: 12px;
    font-style:inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 2000;
    font-kerning: auto;
}

div#quem_e {
    font-size: 20px;
}

div#quem_e img {
    position: relative;
    top: 5;
    width: 30px;
    align-items: center;
}

div#desc {
    margin-top: 8px;
    font-size: large;
    text-align: center;
    text-indent: 20px;
    margin-bottom: 18px;
}

div#socialmedia {
    margin-top: 30px;
    background-color: antiquewhite;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 44px;
    border-style: double;
    margin-bottom: 30px;
}

div#peopleinarea {
    align-items: center;
    align-content: space-between;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

div#peopleinarea h2{
    margin-block-start: 5px;
}
#setinha{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#kevin{
    margin-top: 35px;
}


*[for="professional"] {
    text-align: center;
}

*[for="seta"] {
    width: 60px;
    justify-content: space-around;
    align-self: center;
    margin-left: 415;
}

div#form h3{
    margin-top: 50px;
}