* {
    padding: 0px;
    margin: 5px;
    box-sizing: border-box;
}

body {
    color: rgba(252, 180, 167, 0.841);
    background-image: url("./media/back\ geral\ gif.gif"); background-size: cover;
    font-family:fantasy;
}

header {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    
    
}

header img {
    border-radius: 44%;
    border-color: rgb(157, 26, 37);
    width: 80%;
}

header h1 {
    font-size: 85px;
    background-color: rgba(134, 42, 42, 0.902); border-radius: 12px; border-style:groove; border-color: rgba(255, 56, 56, 0.965);
    font-style:inherit;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 2000;
    font-kerning: auto;
}

#quem_e {
    font-size: 400%;
    text-align: center;
}

#quem_e img {
    position: relative;
    width: 4%;
    align-items: center;
}

#desc {
    outline: red 1px solid;
    text-align: center;
}

#desc ul {
    font-size: 28px;
    text-align: center;
    display: inline-block;
    outline: red 1px solid;
    margin: auto;
}

#desc li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#desc h3 {
    font-size: 36;
    text-align: center;
}

#socialmedia {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#socialmedia img {
    width: 180;
    justify-content: space-between;
}

#socialmedia h2, #socialmedia h3 {
    font-size: 410%;
}


#socialmedia .dl {
    background-image: url("./media/back\ social\ media\ gif.gif");
}